# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
env/

# Node
.env
.env.example
node_modules/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Misc
.DS_Store
*.zip
